Name (4-20 characters): <%= f.text_field :name %> *<br>
Password (6-20 characters): <%= f.password_field :password %> *<br>
Confirm Password: <%= f.password_field :password_confirmation %> *<br>
<p>(* - Required Fields)</p><br>
<div class="select-mod">
    <%= f.collection_select :favorite_genre, Genre.all_alph, :id, :name, {prompt: "Select Favorite Genre..."} %><br>
</div>
<div class="select-mod">
    <%= f.collection_select :favorite_mode, Mode.all, :id, :name, {prompt: "Select Favorite Game Mode..."} %><br>
</div>
<div class="select-mod">
    <%= f.collection_select :favorite_game, Game.all_alph, :id, :title, {prompt: "Select Favorite Game..."} %><br>
</div>
<%= f.submit class: "button" %><br>