<h1><%= @game.title %></h1>
<div class="third-wrapper">
    <div class="third">
        <%= image_tag "https://images.igdb.com/igdb/image/upload/t_cover_big/#{@game.cover_url}", height: "300" %>
    </div>
    <div class="third">
        <p>
            <b>Released:</b><br><%= Time.at(@game.released.to_i).strftime('%m/%d/%Y') %>
        </p>
        <br>
        <p>
            <b>Genres:</b><br>
            <% @game.genres.each do |genre| %>
                <%= link_to genre.name, genre_path(slug: genre.slug) %><br>
            <% end %>
        </p>
        <br>
        <p>
            <b>Game Modes:</b><br>
            <% @game.modes.each do |mode| %>
                <%= link_to mode.name, mode_path(slug: mode.slug) %><br>
            <% end %>
        </p>
    </div>
    <div class="third">
        <% if @game.rating_count > 0 %>
            <p><span class="large-nums"><%= @game.rating.round(2) %></span><br><b>GameReview Rating</b><br>(based on <%= @game.rating_count %> total ratings)</p><br>
        <% end %>
        <% if @game.critic_rating %>
            <p><span class="large-nums"><%= @game.critic_rating.round(2) %></span><br><b>Critic Rating</b><br>(based on <%= @game.critic_rating_count %> total ratings)</p><br>
        <% end %>
        <p><span class="large-nums"><%= @game.igdb_rating.round(2) %></span><br><b>IGDB Rating</b><br>(based on <%= @game.igdb_rating_count %> total ratings)</p>
    </div>
</div>
<div class="text-wrapper">
    <h2>Summary:</h2>
    <p><%= @game.summary %></p>
    <p><%= @game.story %></p>
</div>
<br>
<% if @game.rating_count > 0 %>
    <div class="text-wrapper">
        <h2>Reviews:</h2>
    </div>
    <% @game.user_games.each do |review| %>
        <div class="review-wrapper">
            <div class="rating"><%= review.rating %></div>
            <h3><%= review.user.name %></h3>
            <p><%= review.review %></p>
        </div>
    <% end %>
<% end %>