<h1><%= @user.name %>'s Game Page for '<%= @ug.game.title %>'</h1>
<%= form_for @ug, url: played_path do |f| %>
    <%= render partial: "form", locals: {f: f} %>
<% end %>
<%= render "layouts/flash" %>