<h1>Search GameReviews</h1>
<%= form_with url: search_path do |f| %>
    <p><%= f.label :q, "Search for:" %> <%= f.text_field :q %> <%= f.submit "Search" %></p>
<% end %>
<hr>
<% unless flash[:search_games].blank? %>
    <h3>Top Results in Games:</h3>
    <ul>
    <% flash[:search_games].each do |game| %>
        <li><%= link_to game["title"], game_path(slug: game["slug"]) %></li>
    <% end %>
    </ul>
<% end %>
<% unless flash[:search_genres].blank? %>
    <h3>Top Results in Genres:</h3>
    <ul>
    <% flash[:search_genres].each do |genre| %>
        <li><%= link_to genre["name"], genre_path(slug: genre["slug"]) %></li>
    <% end %>
    </ul>
<% end %>
<% unless flash[:search_modes].blank? %>
    <h3>Top Results in Game Modes:</h3>
    <ul>
    <% flash[:search_modes].each do |mode| %>
        <li><%= link_to mode["name"], mode_path(slug: mode["slug"]) %></li>
    <% end %>
    </ul>
<% end %>