<!DOCTYPE html>
<html>
  <head>
    <title>GameReview</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <p><%= link_to "HOME", home_path %> | <%= link_to "EDIT", edit_path %> | <%= link_to "LOG OUT", welcome_path, method: :delete %></p>
    <% else %>
      <p><%= link_to "LOG IN", login_path %> | <%= link_to "SIGN UP", signup_path %></p>
    <% end %>
    <p><%= link_to "SEARCH", search_path %></p>
    <hr>
    <%= yield %>
  </body>
</html>
