<!DOCTYPE html>
<html>
  <head>
    <title>GameReview</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <%= link_to search_path do %>
        <div class="navbar-item">Search</div>
      <% end %>
      <% if logged_in? %>
        <%= link_to home_path do %>
          <div class="navbar-item">Home</div>
        <% end %>
        <%= link_to edit_path do %>
          <div class="navbar-item">My Account</div>
        <% end %>
        <%= link_to welcome_path, method: :delete do %>
          <div class="navbar-item">Log Out</div>
        <% end %>
      <% else %>
        <%= link_to login_path do %>
          <div class="navbar-item">Log In</div>
        <% end %>
        <%= link_to signup_path do %>
          <div class="navbar-item">Sign Up</div>
        <% end %>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
